{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" href="{% static 'website/css/all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'website/css/templatemo-style.css' %}" />
    <title>BlogSite ON ICT DAY!</title>
}
    
<!--
Mini Profile Template
https://templatemo.com/tm-530-mini-profile
-->
  </head>
  <body>
    <!-- Welcome Section -->
    <section id="tmWelcome" class="parallax-window" data-parallax="scroll" data-image-src="{% static 'website/img/code.jpg' %}">
      <div class="container-fluid tm-brand-container-outer">
        <div class="row">
          <div class="col-12">
            <!-- Logo Area -->
            <!-- Black transparent bg -->
            <div class="ml-auto mr-0 tm-bg-black-transparent text-white tm-brand-container-inner">
              <div class="tm-brand-container text-center">
                <h1 class="tm-brand-name">ICT DAY</h1>
                <p class="tm-brand-description mb-0">Blog site on ICT day!</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tm-bg-white-transparent tm-welcome-container">
        <div class="container-fluid">
          <div class="row h-100">
            <div class="col-md-7 tm-welcome-left-col">
              <div class="tm-welcome-left">
                <h2 class="tm-welcome-title">Welcome to the ICT day blog</h2>
                <p class="pb-0">
                  This is a sample text ~ Mohammad Taha
                </p>
              </div>
            </div>
            <!-- Brown bg -->
            <div class="col-md-5">
              <div class="tm-welcome-right">
                <i class="fas fa-7x fa-desktop tm-welcome-icon "></i>
                <p class="mb-0">
                  This is just plain text waiting on information about ICT day from other team mates who'll do it
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Welcome section -->

    <!-- Portfolio section -->
    <section id="tmPortfolio">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="tm-portfolio-item">
              <div class="tm-portfolio-name text-white tm-bg-green">
                <i class="fas fa-4x fa-laptop-code tm-portfolio-icon"></i>
              </div>
              <div class="tm-portfolio-description">
                <h3 class="tm-text-green">
                  How to learn more with ICT?
                  <span class="tm-title-small">(indepth guide)</span>
                </h3>
                <p class="mb-0">
                  ICT is a a day celebrated to commemorate something about technology and stuff. It's celebrated worldwide and our class decided to make a website to celebrate ICT day
                </p>
              </div>
            </div>

            <div class="tm-portfolio-item">
              <div class="tm-portfolio-name text-white tm-bg-orange">
                <i class="fas fa-4x fa-server"></i>
              </div>
              <div class="tm-portfolio-description">
                <h3 class="tm-text-orange">
                  Engineering with ICT
                  <span class="tm-title-small">(Epic guide)</span>
                </h3>
                <p class="mb-0">
                  engineering is being impacted by ict and stuff and is  part of our day to day lives and stuff good stuff good things yes ye syes
                </p>
              </div>
            </div>

            <div class="tm-portfolio-item">
              <div class="tm-portfolio-name text-white tm-bg-blue">
                Games
              </div>
              <div class="tm-portfolio-description">
                <h3 class="tm-text-blue">
                  Best part of ICT
                  <span class="tm-title-small">(YES GAMES)</span>
                </h3>
                <p class="mb-0">
                  നിങ്ങൾക്ക് ഇത് വായിക്കാൻ കഴിയുമെങ്കിൽ, നിങ്ങൾ ഓർമയുണ്ട്. ഹാ പരാജിതനായ മുഹമ്മദ് തഹ നിങ്ങളെക്കാൾ മികച്ചവനാണ്
                </p>
              </div>
            </div>

            <div class="tm-portfolio-item">
              <div class="tm-portfolio-name text-white tm-bg-dark-gray">
                Making Art with ICT
              </div>
              <div class="tm-portfolio-description">
                <h3 class="tm-text-dark-gray">
                  Designing ICt things
                  <span class="tm-title-small">
                    (What about designing IT things?)
                  </span>
                </h3>
                <p class="mb-0">
                  Yes, designing IT things is really fun and a good way to Я считаю, что мы достигаем научного уровня, который мозг не может обработать, и в конце концов мы умираем жалкой смертью
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End portfolio section -->

    <!-- Contact section -->
    <div id="tmContact" class="parallax-window" data-parallax="scroll" data-image-src="{% static 'website/img/server.jpg' %}">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="tm-contact-items-container">
              <div class="tm-contact-item">
                <i class="fas fa-5x fa-briefcase tm-contact-item-icon"></i>
                <p class="mb-0">
                  YEs THIS IS A PICTURE OF A BRIEFCASE VERY COOL BRIEFCASE
                </p>
              </div>
              <div class="tm-contact-item">
                <i class="fas fa-5x fa-building tm-contact-item-icon"></i>
                <p class="mb-0">
                  PICTURE OF BUILDING HAHAHAHAHAHA VERY EPIC BUILDING(CHANGABLE)
                </p>
              </div>

              <div class="tm-contact-item">
                <i class="fas fa-5x fa-balance-scale tm-contact-item-icon"></i>
                <p class="mb-0">
                  Y OU. YOU ARE NOT ALLOWED TO PLAY DURING ICT DAY. ok I will wait for everyone to send me the things to write in this blog post.
                </p>
              </div>
            </div>
          </div>
        </div>
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- row -->
        <div class="row">
          <footer class="col-12">
            <p class="text-center tm-copyright-text">
            Copyright 2020 NAWIS GRADE XI-A 
            </p>
          </footer>
        </div>
      </div>
      <!-- container -->
    </div>
    <!-- section -->
    <script src="{% static 'website/js/jquery.min.js' %}"></script>
    <script src="{% static 'website/js/parallax.min.js' %}"></script>
    <script>
      function detectMsBrowser() {
        using_ms_browser =
          navigator.appName == "Microsoft Internet Explorer" ||
          (navigator.appName == "Netscape" &&
            navigator.appVersion.indexOf("Edge") > -1) ||
          (navigator.appName == "Netscape" &&
            navigator.appVersion.indexOf("Trident") > -1);

        if (using_ms_browser == true) {
          alert(
            "Please use Chrome or Firefox for the best browsing experience!"
          );
        }
      }
      function setBrandMarginTop() {
        var bottomContainerHeight = $(".tm-welcome-container").height();

        $(".tm-brand-container-outer").css({
          "margin-top": -bottomContainerHeight + "px"
        });
      }

      $(function() {
        setBrandMarginTop();
        detectMsBrowser();

        // Handle window resize event
        $(window).resize(function() {
          setBrandMarginTop();
        });
      });
    </script>
  </body>
</html>